<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="change-password.component.css">
    <title>Recuperación de cuenta</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="avatar-container">
                <img src="assets/imagenes/User.png" alt="User Avatar" class="avatar" crossorigin="anonymous">
            </div>
            <h2 class="title">Recuperación de cuenta</h2>
            <form class="form" (submit)="onSubmit($event)">
                <div class="input-group">
                  <label for="new-password" class="sr-only">Nueva contraseña</label>
                  <input id="new-password" #newPasswordInput name="new-password" type="password" required class="input" placeholder="Nueva contraseña">
                  <div class="eye-icon-container" (click)="togglePasswordVisibility(newPasswordInput, newEyeIcon)">
                    <img src="assets/imagenes/Eye.png" alt="Mostrar/Ocultar contraseña" class="eye-icon" #newEyeIcon>
                  </div>
                </div>
                <div class="input-group">
                  <label for="confirm-password" class="sr-only">Repita la nueva contraseña</label>
                  <input id="confirm-password" #confirmPasswordInput name="confirm-password" type="password" required class="input" placeholder="Repita la nueva contraseña">
                  <div class="eye-icon-container" (click)="togglePasswordVisibility(confirmPasswordInput, confirmEyeIcon)">
                    <img src="assets/imagenes/Eye.png" alt="Mostrar/Ocultar contraseña" class="eye-icon" #confirmEyeIcon>
                  </div>
                </div>
                <div>
                  <button type="submit" class="submit-btn">Cambiar contraseña</button>
                </div>
              </form>
              
            <div class="actions">
                <a href="#" class="action-button">Iniciar Sesión</a>
                <a href="#" class="action-button">Registrarse</a>
            </div>
        </div>
    </div>
</body>
</html>
