<div class="table-container">
    <table class="job-table">
        <thead>
            <tr>
                <th class="table-header">Puesto</th>
               
            </tr>
        </thead>
        <tbody>
            <tr class="table-row">
                <td class="table-data">
                    <img class="company-logo" src="assets/imagenes/Tabla/interbank.png" alt="company logo" />
                    <div>
                        <div class="job-title">Data Scientist Senior de Riesgos</div>
                        <div class="job-location">Javier Prado, Lima</div>
                        <div class="job-salary">$2k-5k al mes</div>
                    </div>
                    <span class="job-type">Full Time <button class="exit-button" routerLink="entrevistas">IR A ENTREVISTA</button>
                  </span>
                  
                  
                  
                </td>
                <td class="table-data">
                    Tienes una entrevista pendiente  
                </td>
            </tr>
            <tr class="table-row-alt">
                <td class="table-data">
                    <img class="company-logo" src="assets/imagenes/Tabla/tlogo.png" alt="company logo" />
                    <div>
                        <div class="job-title">Desarrollador Java</div>
                        <div class="job-location">San Isidro, Lima</div>
                        <div class="job-salary">$1k-3k al mes</div>
                    </div>
                    <span class="job-type">Full Time Remoto <button class="exit-button" routerLink="entrevistas">IR A ENTREVISTA</button></span>
                </td>
                <td class="table-data">
                    Tienes una entrevista pendiente 
                </td>
            </tr>
            <tr class="table-row">
                <td class="table-data">
                    <img class="company-logo" src="assets/imagenes/Tabla/delsofi.png" alt="company logo" />
                    <div>
                        <div class="job-title">Data Engineer - Gestión</div>
                        <div class="job-location">Miraflores, Lima</div>
                        <div class="job-salary">$1k-3k al mes</div>
                    </div>
                    <span class="job-type">Full Time <button class="exit-button" routerLink="entrevistas">IR A ENTREVISTA</button></span>
                </td>
                <td class="table-data">
                    Tienes una entrevista pendiente 
                </td>
            </tr>
            <tr class="table-row-alt">
                <td class="table-data">
                    <img class="company-logo" src="assets/imagenes/Tabla/bbva.png" alt="company logo" />
                    <div>
                        <div class="job-title">Data Advanced Analytics</div>
                        <div class="job-location">Javier Prado, Lima</div>
                        <div class="job-salary">$5k-7k al mes</div>
                    </div>
                    <span class="job-type">Full-Time Híbrido <button class="exit-button" routerLink="entrevistas">IR A ENTREVISTA</button></span>
                </td>
                <td class="table-data">
                    Tienes una entrevista pendiente 
                </td>
            </tr>
        </tbody>
</table>
</div>
