<div class="derecha">
  <div class="derecha_izquierda">
    <h6>
      <span class="letra1">Obtén más de 5000+</span>
      <span class="letra2"> CVs</span>
    </h6>
    <div class="derecha_izquierda_2">
      <h2>Empieza a buscar a nuevos postulantes</h2>
    </div>
    <div class="derecha_izquierda_3">
      <button type="button" class="btn1" (click)="redirigirACrearOfertas()">Empieza a crear ofertas laborales</button>
      <button type="button" class="btn2"(click)="redirigirAListaOfertas()">Empieza a revisar perfil de postulantes</button>
    </div>

  </div>
  <div class="derecha_derecha">
    <img src="assets/imagenes/Persona.png" alt="imagen_persona" class="imagen-derecha">
  </div>
</div>

