  <body>
    <div class="opciones">
        <h2 mat-dialog-title>Reseña de la oferta</h2>
    
    
        <mat-dialog-actions>
          <button mat-button mat-dialog-close>X</button>
        </mat-dialog-actions>
    
      </div>
    
      <div class="info">
        <mat-dialog-content>
            
            <div class="contenido">
                <div class="comentario">
                    <form action="">
                        <div class="inputs">
                            <input type="text" id="titulo" autofocus placeholder="Titulo">
                            <input type="text" id="texto" autofocus placeholder="Texto">
                        </div>
                        <div class="calificacion">
                            <div class="rating">
                                <span class="star">&#9734;</span>
                                <span class="star">&#9734;</span>
                                <span class="star">&#9734;</span>
                                <span class="star">&#9734;</span>
                                <span class="star">&#9734;</span>
                            </div>
                            <button type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
          
        </mat-dialog-content>
      </div>
  </body>
  




