.derecha{
    flex: 5;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.derecha-superior{
    flex: 1;
    background-color: blueviolet;
}
.derecha-inferior{
    flex: 3;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}

.optionTabla{
    display: flex;
    gap: calc(512px - calc(512px - 32vw));
}
.optionTabla-izquierda{
    flex: 1;
    color: #000;

    text-align: center;
    font-family: Epilogue;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.optionTabla-derecha{
    flex: 1;
    text-align: center;
    font-family: Epilogue;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 5px;
    
}
.optionTabla-derecha h4{
   margin-left:45%;
}
.optionTabla-derecha img{
    
    max-width: 5%;
}
.tablaEmple{
    display: flex;
    align-items: center;
    justify-content: center;
}

h6{
width: 600px;
margin-top: 50px; 
margin-left: 90px; 
}

.derecha {
    display: flex;
    flex-direction: row; 
    height: 80vh; 
}

.derecha_izquierda {
    flex-basis: 60%;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    padding-right: 20px; 
}

.derecha_derecha {
    flex-basis: 40%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.derecha_derecha {
    
    justify-content: center; 
    align-items: center; 
}

.derecha_derecha img {
    max-width: 100%; 
    height: auto;
    border-radius: 10px; 
}

.letra1 {
    color: var(--Neutrals-100, #25324B);
    font-feature-settings: 'cv11' on;
    font-family: Laila;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; 
    white-space: nowrap
}

.letra2 {
    color: var(--Accents-Blue, #26A4FF);
    font-feature-settings: 'cv11' on;
    font-family: Laila;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.derecha_izquierda_2 {
    margin-top: 20px; 
}

h2 {
    color: #26A4FF;
    font-family: Epilogue;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: 100%;
    margin: 0; 
    
}

.derecha_derecha img {
    max-width: 100%; 
    height: auto;
    border-radius: 10px; 
    margin-top: -50px; 
}

.derecha_izquierda_3 {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    margin-top: 20px; 
    align-items: center; /* Centra los elementos horizontalmente */
}

button {
    padding: 8px 16px;  
    font-size: 14px;    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;      
    text-align: center; 
    
}

.btn1 {
    color: #000; 
    border-radius: 5px;
    border: 1px solid #000;
    background: #F1F2F4;
}

.btn2 {
    color: #fff;
    border-radius: 5px;
    border: 1px solid #000;
    background: #30CDFF;
}
.imagen-derecha {
    width: 43vh; 
    height: auto; 
}