.derecha-superior{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.derecha-superior-arriba{
  flex:1;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}
.derecha-superior-abajo{
  display: flex;
  flex-wrap: wrap;
  flex:2;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  justify-content: space-around;
}
.item {
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente al centro */
  padding: 15px 25px;
  border-radius: 60px; /* Bordes redondeados */
  margin: 10px;
}

 .color-dere{
  width: 40px; 
  height: 40px; 
  overflow: hidden;
 }
 .color-izqui{
  flex:1;
  display: flex;
  flex-direction: column;
  text-align: left;
 }
 .color-dere img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
 }

 

.blue {
  background-color: #e0f2f7;
  display: flex;
  gap: 20px;
  min-height: 60px;
  min-width: 230px;
 }
.yellow {
  background-color: #fff8e1; 
  gap: 20px;
  min-width: 230px;
  min-height: 60px;
}

.green {
  background-color: #e8f5e9; 
  gap: 20px;
  min-height: 60px;
  min-width: 230px;
}

.number {
  font-size: 24px;
  font-weight: bold;
}



.derecha-inferior{
  flex: 3;
  
  display: flex;
  flex-direction: column;
}
.optionTabla{
  display: flex;
  gap: calc(512px - calc(512px - 32vw));
  margin-left: 5%;
  margin-right: 5%;
}
.optionTabla-izquierda{
  flex: 1;
  color: #000;

  text-align: center;
  font-family: Epilogue;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.optionTabla-derecha{
  flex: 1;
  text-align: center;
  font-family: Epilogue;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 5px;
  
}
.optionTabla-derecha h4{
 margin-left:45%;
}
.optionTabla-derecha img{
  
  max-width: 5%;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px; /* Ajusta según necesites */
}

/* Estilos para la tabla */

table {
  width: 100%;
  overflow-y: auto;
  margin: 0px auto;
  border-collapse: collapse;
}

.tablaEmple{
  display: flex;
  align-items: center;
  justify-content: center;
}

.TablaEmpleos{
  width: 100%;
  display: flex;
  margin: auto;
  overflow-x: auto;
} 

.estado {
  width: 80px;
}
tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row) {
  cursor: pointer;
}

.element-detail {
  overflow: hidden;
  display: flex;
}
.filatabla{
  display: flex;
  width: max-content;
}
.salario-tipo{
  display: flex;
  gap: 10px;
  margin-bottom: 3%;
  align-items: center;
}
.puestolocation{
  display: flex;
  align-items: center;
}
.puestolocation p, .salario-tipo p{
  margin: 3px;
}
.tipoTrabajo{
  border-radius: 20px;
  background: rgba(160, 210, 255, 0.50);
  color: #0C72BB;

  padding: 2px;

  width: 110px;
  height: 30px;

  text-align: center;
  font-size: 14px;
  font-family: Epilogue;

  justify-content: center;
  align-items: center;
  display: flex;

}
td {
  min-width: 10px;
  border-bottom: 1px solid #ddd; 
  padding: 0 8px;
}


th {
  background-color: #D9D9D9; 
  text-align: center;
  padding: 0 8px;
}
.tipoE{
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.taderecha{
  min-width: 210px
}