
.derecha{
    flex: 5;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 550px;
}
.derecha-superior{
    flex: 1;
    
}
.derecha-inferior{
    flex: 3;
    display: flex;
    flex-direction: column;
}

table {
    width: 90%;
    display: block;
    max-height:615px;
    overflow-y: auto;
    margin: 0px auto;
    border-collapse: collapse;
  }
  
  .tablaEmple{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .TablaEmpleos{
    display: flex;
    width: auto;
    margin: 0% 5% 0% 5%;
   
  } 
  
  
  tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.detail-row {
    height: 0;
  }
  
  tr.element-row:not(.expanded-row) {
    cursor: pointer;
  }
  
  .element-detail {
    overflow: hidden;
    display: flex;
  }
  .filatabla{
    display: flex;
  }
  .salario-tipo{
    display: flex;
    gap: 10px;
    margin-bottom: 3%;
    align-items: center;
  }
  .puestolocation{
    display: flex;
    align-items: center;
  }
  .puestolocation p, .salario-tipo p{
    margin: 3px;
  }
  .tipoTrabajo{
    border-radius: 20px;
    background: rgba(160, 210, 255, 0.50);
    color: #0C72BB;
  
    padding: 2px;
  
    width: 110px;
    height: 30px;
  
    text-align: center;
    font-size: 14px;
    font-family: Epilogue;
  
    justify-content: center;
    align-items: center;
    display: flex;
  
  }
  td {
    min-width: 250px;
    border-bottom: 1px solid #ddd; 
    padding: 0px;
  }
  
  th {
    background-color: #D9D9D9; 
    text-align: center;
  }
  .botonElim{
    display: flex;
    align-items: center;
  }
  .DeshacerCambio{
    position:relative;
    bottom: 11%;    
  }
  .DeshacerCambio button {
    background-color: #ffffff2f;
    color: #0000006f;
  }


  .progress-bar {
    height: 2px;
    width: 100%;
    background-color: #f0f0f0;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .progress-bar-fill {
    height: 100%;
    background-color: #3f51b5;
    width: 0;
    transition: width 0.2s ease-in-out;
  }
  
  .filter-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  
  .mat-form-field {
    width: 20%;
  }
  .tipoE{
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
  .taderecha{
    min-width: 220px
  }
  .filatabla p{
    text-align: center;
  }