
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="forgot-password.component.css">
    <title>Recuperar Cuenta</title>
</head>
<body>
    <div class="logo-container">
        <div class="logo-background">
            <img src="assets/imagenes/JobHub.png" alt="JobHub Logo" class="logo-image">
        </div>
    </div>
    <div class="container">
        <div class="card">
            <h1 class="title">¿Olvidaste tu contraseña?</h1>
            <div class="avatar-container">
                <img src="assets/imagenes/User.png" alt="User Icon" class="avatar">
                <p class="confirmation-message" #confirmationMessage style="display: none;">Se envió un correo electrónico con un enlace dentro, por favor verificar el correo electrónico y seguir los pasos que se estipulan dentro de ella.</p>
            </div>
            <p class="description" #description>Enviaremos un código de verificación a este email si coincide con una cuenta de JobHub existente.</p>
            <input type="email" class="email-input" #emailInput>
            <button class="recover-button" (click)="recoverAccount()">Recuperar cuenta</button>
            <div class="change-password" #changePassword style="display: none;">
                <a routerLink="/change-password">Cambie su contraseña</a>
            </div>
            <div class="actions" #actions>
                <button class="action-button" routerLink="/login">Iniciar sesión</button>
                <button class="action-button" routerLink="/register">Registrarse</button>
            </div>
        </div>
    </div>

</body>
</html>
