<body>
    <app-header></app-header>
    <main>
        <div class="izquierda">
            <div class="izquierda-superior">
                <h2>Configuración de Curriculum</h2>
            </div>
            <div class="izquierda-inferior">
                <h3>izquierda-inferior</h3>
            </div>
        </div>

        <div class="derecha">
            <div class="container">
                <div class="card">
                    <p>¿Es tu primera vez dentro de una plataforma de trabajo y te falta tu CV?</p>
                    <button class="btn-primary" routerLink="/crear-cv">Crear CV</button>
                </div>
                <div class="card">
                    <p>¿Ya tienes tu CV preparado y solo quieres subir a nuestra plataforma?</p>
                    <button class="btn-secondary">Importar CV</button>
                </div>
            </div>
        </div>
    </main>
    <app-footer></app-footer>
</body>