<body>
    <app-header></app-header>
    <main>
        <div class="izquierda">
        <div class="izquierda-superior">
            <h2>Plantillas</h2>
            
        </div>
        <div class="izquierda-inferior">
            <h3>izquierda-inferior</h3>
        </div>
        
        </div>

        <div class="derecha">
        <div class="derecha-superior">
            <h1>div-derecha-superior</h1>
        </div>
        <div class="derecha-inferior">
            <h2>derecha inferior</h2>        
        </div>
        </div>
    </main>
    <app-footer></app-footer>
</body>

