body{
    display: flex;
    flex-direction: column;
}
/*main css*/
main{
    background-color: white;
    display: flex;
    border-top-width: 2px;
    border-style: solid;
    border-color: rgb(137, 137, 137);
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.izquierda{
    flex: 1;
    border-right-width: 2px;
    border-style: solid;
    border-color: rgb(137, 137, 137);
    text-align: center;
    border-bottom: none;
    border-left: none;
    border-top: none;
    display: flex;
    flex-direction: column;
}
.izquierda-superior{
    flex:3;
    background-color: white;
}
.izquierda-superior h2{
    color: #000;
    opacity: 0.6;
    text-align: center;
    font-family: Epilogue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.izquierda-inferior{
    flex:1;
    justify-content: center;
    align-items: end;
    display: flex;
    align-items: center;
    gap: 5px;
}

.derecha{
    flex: 5;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.derecha-superior{
    flex: 1;
    background-color: blueviolet;
}
.derecha-inferior{
    flex: 3;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }
  
  @media (min-width: 768px) {
    .container {
      flex-direction: row;
    }
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: white;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
  }
  
  .btn-secondary {
    background-color: #007bff;
    color: white;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
  }