<div class="derecha">
    <div class="derecha-superior">
      <h1>div-derecha-superior</h1>
    </div>
    <div class="derecha-inferior">
      <div class="optionTabla">
        <div class="optionTabla-izquierda">
          <h4>Puestos recientemente publicados</h4>
        </div>
        <div class="optionTabla-derecha">
          <h4>Mostrar Todo</h4>
          <img src="assets/imagenes/flecha.png" alt="Flecha">
        </div>
      </div>
      <div class="tablaEmple">
        <p>tabla-empleo-fav works!</p>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
