<div class="derecha">
  <div class="derecha-superior">
    <div class="derecha-superior-arriba">
      <p>Hola, José Pérez</p>
      <p>Aquí tienes un resumen de tus actividades diarias y alertas de trabajo</p>
    </div>
    <div class="derecha-superior-abajo">
      <div class="item blue">

        <div class="color-izqui">
          <span class="number">100</span>
          <span class="text">Trabajos aplicados</span>
        </div>
        <div class="color-dere">
          <img src="assets/imagenes/Overview/portafolio2.png" alt="portafolio">
        </div>

      </div>

      <div class="item yellow">

        <div class="color-izqui">
          <span class="number">20</span>
          <span class="text">Ofertas Favoritas</span>
        </div>
        <div class="color-dere">
          <img src="assets/imagenes/Overview/marcador2.png" alt="portafolio">
        </div>
      </div>


      <div class="item green">
        <div class="color-izqui">
          <span class="number">250</span>
          <span class="text">Alertas de trabajo</span>
        </div>
        <div class="color-dere">
          <img src="assets/imagenes/Overview/campanasicon3.png" alt="portafolio">
        </div>
      </div>
    </div>
    
    

  </div>
  <div class="derecha-inferior">
    <div class="optionTabla">
      <div class="optionTabla-izquierda">
        <h4>Puestos recientemente publicados</h4>
      </div>
      <div class="optionTabla-derecha">
        <h4>Mostrar Todo</h4>
        <img src="assets/imagenes/flecha.png" alt="Flecha">
      </div>
    </div>
    <div class="tablaEmple">
      <div class="TablaEmpleos">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>
          <ng-container matColumnDef="puesto">
            <th mat-header-cell *matHeaderCellDef> Puestos </th>
            <td mat-cell *matCellDef="let element">
              <div class="filatabla">

                <div class="taizquierda">
                  <img [src]="element.logo" alt="logo" style="width: 54px; height: 54px; margin-right: 8px; margin-top: 8px;">
                </div>
                <div class="taderecha">
                  <div class="puestotitulo">
                    {{element.puesto}}
                  </div>
                  <div class="puestolocation">
                    {{element.location}}
                  </div>
                  <div class="salario-tipo">
                    <div>{{element.salary}}</div>
                    <div class="tipoTrabajo">{{element.type}}</div>
                  </div>
                </div>
              </div>
              
            </td>
          </ng-container>
        
          <ng-container matColumnDef="reputacion">
            <th mat-header-cell *matHeaderCellDef> Reputación </th>
            <td mat-cell *matCellDef="let element">
              <div style="display: flex; justify-content: center;">
                <img [src]="element.reputacion" alt="reputacion" style="width: 50px; height: 30px;">
              </div>
              
            </td>
          </ng-container>
        
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha de Aplicación </th>
            <td mat-cell *matCellDef="let element"> <div style="text-align: center;" >{{element.fecha}}</div> </td>
          </ng-container>
        
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element">
              <span [ngClass]="{'active': element.estado === 'Active', 'cancelado': element.estado === 'Cancelado', 'finalizado': element.estado === 'Finalizado'}">
                <div style="margin: 0px 0px 0px 0px; text-align: center;">{{element.estado}}</div>
              </span>
            </td>
          </ng-container>
        
          <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> Acción </th>
            <td mat-cell *matCellDef="let element">
              <div style="display: flex; justify-content: center;">
                <button mat-raised-button color="primary" (click)="verDetalles(element)">Ver detalles</button>
              </div>
              
            </td>
          </ng-container>
        
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="example-element-detail"
                   [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                {{element.descripcion}}
              </div>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;"
              class="element-row"
              [class.expanded-row]="expandedElement === element"
              (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
        </table>
      </div>
  
    </div>
  </div>
</div>











