header{
    display: flex;
    flex: 0.9;
    min-height: 100px;
    align-items: center;
    gap: 10px;
}
.logo{
    flex:1;
    display: flex;
    align-items: center;
    
    margin-right: 6.5%;
}
#logoImg{
    height: auto;
    width: 13%;
    min-width: 40px;
}
#logoTxt{
    text-decoration: none;
    color: #05B4FF;
    text-shadow: 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000; 
    
    font-family: "Lalezar" !important;
    font-size: calc(48px - calc(32px - 2vw));
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;   
    flex: 1;
}
.perfil{
    flex:1;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: right;
    margin-right: 10.1%;
}
.mat-icon a {
   color: yellow;
   text-decoration: none; 
}
.mat-icon{
    text-shadow:  
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000;
}