body{
    display: flex;
    flex-direction: column;
}
/*main css*/
main{
    background-color: white;
    display: flex;
    border-top-width: 2px;
    border-style: solid;
    border-color: rgb(137, 137, 137);
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.izquierda{
    flex: 1;
    border-right-width: 2px;
    border-style: solid;
    border-color: rgb(137, 137, 137);
    text-align: center;
    border-bottom: none;
    border-left: none;
    border-top: none;
    display: flex;
    flex-direction: column;
}
.izquierda-superior{
    flex:3;
    background-color: white;
}
.izquierda-superior h2{
    color: #000;
    opacity: 0.6;
    text-align: center;
    font-family: Epilogue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.izquierda-superior ul{
    list-style-type: none;
    min-width: 190px;
}
.izquierda-superior ul li a{
    text-decoration: none;
    color: #000;
    opacity: 0.7;
    text-align: center;
    font-family: Epilogue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.izquierda-superior ul li a:hover{
    color: #27A5FF;
}
.izquierda-superior ul li:hover{
    background: #E7F0FA;
}
.izquierda-superior ul li a:focus, .izquierda-superior ul li a:active {
    color: #27A5FF; 

}
.izquierda-superior ul li:focus, .izquierda-superior ul li:active {
    background-color: #E7F0FA;    
}

.izquierda-superior ul li a{
   display: flex;
   align-items: center;
}
.izquierda-superior ul li {
    padding: 5% 0% 5% 10%;
}

.izquierda-superior ul li.selected {
     background-color: #E7F0FA
} 

#capaoverview, #portafolio-overview,#marcador-overview{
    width: 15%;
    height: auto;
    margin-right: 15px;
}
#config-overview{
    width: 20%;
    height: auto;
    margin-right: 7px;
    margin-left: -3px;
}
#campana-overview{
    width: 19%;
    height: auto;
    margin-right: 10px;
    margin-left: -4px;
}

.izquierda-superior ul  {
    padding: 0px;
 }

.izquierda-inferior{
    flex:1;
    justify-content: center;
    align-items: end;
    display: flex;
    align-items: center;
    gap: 5px;
}
.izquierda-inferior img{
    width: 15%;
    height: auto;
}

.derecha{
    flex: 5;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.derecha-superior{
    flex: 1;
    background-color: blueviolet;
}
.derecha-inferior{
    flex: 3;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}
.optionTabla{
    display: flex;
    gap: calc(512px - calc(512px - 32vw));
}
.optionTabla-izquierda{
    flex: 1;
    color: #000;

    text-align: center;
    font-family: Epilogue;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.optionTabla-derecha{
    flex: 1;
    text-align: center;
    font-family: Epilogue;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 5px;
    
}
.optionTabla-derecha h4{
   margin-left:45%;
}
.optionTabla-derecha img{
    
    max-width: 5%;
}
.tablaEmple{
    display: flex;
    align-items: center;
    justify-content: center;
}