/* app.component.css */
.sidenav-container {
    display: flex;
    height: 70vh;
  }
  mat-sidenav{
    padding: 0 !important;
  }
  .sidenav {
    width: 250px;  /* Ancho fijo para la barra lateral */
    background-color: #f4f4f4;
    padding: 10px;
    overflow-y: auto;
  }
  
  .chat-list {
    display: flex;
    flex-direction: column;
  }
  
  .chat-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
  }
  
  .chat-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .chat-card-header {
    font-size: 1.1em;
    font-weight: bold;
  }
  
  .chat-card-body {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
  }
  
  .last-message {
    color: #666;
    margin-bottom: 5px;
    text-overflow: ellipsis;
  }
  
  .last-message-time {
    color: #999;
    font-size: 0.8em;
  }
  .chat-card.unread {
    background-color: #e6f7ff;  /* Color de fondo azul claro para resaltar */
    border-left: 4px solid #007bff; /* Línea de borde izquierda azul para indicar que es nuevo */
  }
  .chat-card.selected {
    background-color: #d1e7dd; /* Color de fondo verde claro para indicar selección */
    border-left: 4px solid #2863a7; /* Línea de borde izquierda verde para indicar selección */
  }
  .chat-window {
    flex-grow: 1;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: #ffffff;
    height: 100%;
    min-width: 200px;
    overflow-y: auto;
  }
  
  .chat-header {
    display: flex;
    border-bottom: 1px solid #ccc;
    height: 48px;
    align-items: center;
    justify-content: center;
  }
  
  .messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse; 
    gap: 2px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 0 10px
  }

  .messages p.message-separator {
    margin-top: 20px; /* Ajusta el valor según el espacio que desees */
  }

  .messages p{
    padding: 10px;
    max-width: 60%;
    word-wrap: break-word;
    margin: 0;
  }

  

  .send {
    align-self: flex-end; /* Alinea los mensajes enviados a la derecha */
    background-color: #007bff; /* Color de fondo azul */
    color: white; /* Color del texto blanco */
    border-radius: 15px 15px 0 15px;
  }
  
  .receive {
    align-self: flex-start; /* Alinea los mensajes recibidos a la izquierda */
    background-color: #f1f1f1; /* Color de fondo gris claro */
    color: black; /* Color del texto negro */
    border-radius: 15px 15px 15px 0;
  }
  .message-input {
    display: flex;
    justify-content: space-between;
  }
  
  .message-input textarea {
    flex-grow: 1;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    text-overflow: hidden;
    resize: none;
    outline: none;
  }
  
  .sidenav-toggle {
    position:absolute;
    top:0;
    left: 0;
    z-index: 1000;
  }
  
  .loading {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
  }