body{
    display: flex;
    flex-direction: column;
}
/*main css*/
main{
    background-color: white;
    display: flex;
    border-top-width: 2px;
    border-style: solid;
    border-color: rgb(137, 137, 137);
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.izquierda{
    flex: 1;
    border-right-width: 2px;
    border-style: solid;
    border-color: rgb(137, 137, 137);
    text-align: center;
    border-bottom: none;
    border-left: none;
    border-top: none;
    display: flex;
    flex-direction: column;
}
.derecha{
    flex: 5;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.derecha-superior{
    flex: 1;
    background-color: blueviolet;
}
.derecha-inferior{
    flex: 3;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}
.optionTabla{
    display: flex;
    gap: calc(512px - calc(512px - 32vw));
}
.optionTabla-izquierda{
    flex: 1;
    color: #000;

    text-align: center;
    font-family: Epilogue;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.optionTabla-derecha{
    flex: 1;
    text-align: center;
    font-family: Epilogue;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 5px;
    
}
.optionTabla-derecha h4{
   margin-left:45%;
}
.optionTabla-derecha img{
    
    max-width: 5%;
}
.tablaEmple{
    display: flex;
    align-items: center;
    justify-content: center;
}