<body>
<app-header></app-header>
<main>
    <div class="izquierda">
        <div class="izquierda-superior">
          <h2>Panel de Candidato</h2>
          <ul>
            <li *ngFor="let link of links; let i = index"
                (click)="selectLink(i)"
                [ngClass]="{ 'selected': selectedIndex === i }"> 
              <a [routerLink]="link.route" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <img 
                  [src]="selectedIndex === i ? link.selectedImage : link.image" 
                  [alt]="link.alt" 
                  [id]="link.id"> 
                {{ link.text }}
              </a>
            </li>
          </ul>
        </div>
        <div class="izquierda-inferior">
          <img src="assets/imagenes/Nav-bar/CerrarSesion.png">
          <h3 id="logout">Cerrar Sesión</h3>
        </div>
        
      </div>
      <div class="derecha">
        <div class="derecha-izquierda" >
            <div class="derecha-izquierda-arriba">
                <h2 class="MEN">
                    Todos los mensajes
                    <img src="assets/imagenes/Mensajes/flecha1.png" alt="flecha" class="fle1">
                </h2>
            </div>
            <div class="derecha-izquierda-centro">
                <button class="buscar">Search or start a new chat</button>
            </div>
            <div class="derecha-izquierda-abajo">
                <div class="cuadrado1">
                    <img src="assets/imagenes/FotosPerfil/img1.png" class="img1">
                    <div class="mcuadrado1">
                        <h5>Jennifer Markus</h5>
                        <h6> 
                            <span class="contenido1">Hey! Did you finish the Hi-FI wireframes for</span>
                            <span class="contenido2"> flora app design?</span>
                        </h6>
                        <h4 class="Men1">
                            <img src="assets/imagenes/Icons.png" alt="flecha" class="fle2">
                            Hoy 02:45 pm
                        </h4>
                    </div>
                </div>
                <div class="cuadrado2">
                    <img src="assets/imagenes/FotosPerfil/img2.png" class="img1">
                    <div class="mcuadrado1">
                        <h5>Karim Samanamud</h5>
                        <h6> 
                            <span class="contenido1">Hey! Did you finish the Hi-FI !</span>
                            <span class="contenido2"> wireframes for flora app design?</span>
                        </h6>
                        <h4 class="Men1">
                            <img src="assets/imagenes/Icons.png" alt="flecha" class="fle2">
                            Hoy 04:45 pm
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="derecha-derecha">
            <div class="derecha-derecha-arriba">
                <h5 class="fecha">
                    Hoy 04:45 pm
                </h5>
            </div>
            <div class="derecha-derecha-centro">
                <div class="mensaje1">
                    <h5 class="chat">
                        Hola buenos dias
                    </h5>
                </div>
                <div class="mensaje2">
                    <h5 class="chat">
                       Tenemos que avanzar el trabajo
                    </h5>
                </div>
                <div class="mensaje3">
                    <h5 class="chat">
                       Entendido!!!
                    </h5>
                </div>
                <div class="mensaje4">
                    <h5 class="chat">
                       ya nos vemos en la entrevista
                    </h5>
                </div>
            </div>
            <div class="derecha-derecha-abajo">
                <img src="assets/imagenes/chat.png" alt="flecha" class="fle2">
            </div>
        </div>
      </div>
</main>
<app-footer></app-footer>
</body>