<header>
  <H1>JobHub</H1>
</header>

<main>
  <div class="izquierda">
    <div class="izquierda-superior">
      <h1>Overview</h1>
      <h1>Trabajos Aplicados</h1>
      <h1>Ofertas Favoritas</h1>
      <h1>Alertas de Trabajo</h1>
      <h1>Configuracion</h1>
    </div>
    <div class="izquierda-inferior">
      <h2>Log Out</h2>
    </div>
    
  </div>

  <div class="derecha">
    <div class="derecha-superior">
      <h1>div-derecha-superior</h1>
    </div>
    <div class="derecha-inferior">
      <h1>div-derecha-inferior</h1>
    </div>
  </div>
</main>

<footer>
  <h1> &copy; 2024 JobHub - Job Board. All rights Reserverd</h1>
</footer>