<div class="xd">
  <body>
    <main>
      <div class="logo">
        <p class="text_logo">JobHub</p>
      </div>
  
      <section class="register_box">
        <div class="box_left">
          <label class="title_box_left">CREAR NUEVA CUENTA</label>
          <img src="../../assets/img/img_right.svg" alt="profile" class="img_left">
        </div>
  
        <div class="box_right">
          <div class="circle_img">
            <img src="../../assets/img/img_left.jpg" alt="profile" class="img_right">
          </div>
  
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form_user">
            <div class="column_form">
              <div class="input_box">
                <label class="text_form">Nombres:</label>
                <input type="text" id="name" formControlName="name" placeholder="Ingrese su nombre">
                <div class="error-message" *ngIf="registerForm && registerForm.get('name')?.invalid && registerForm.get('name')?.touched">El nombre es requerido.</div>
              </div>
              <div class="input_box">
                <label class="text_form">Apellidos:</label>
                <input type="text" id="lastname" formControlName="lastName" placeholder="Ingrese su apellido">
                <div class="error-message" *ngIf="registerForm && registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched">El apellido es requerido.</div>
              </div>
            </div>
  
            <div class="input_box">
              <label class="text_form">Correo electrónico:</label>
              <input type="email" id="email" formControlName="email" placeholder="Ingrese su correo electrónico">
              <div class="error-message" *ngIf="registerForm && registerForm.get('email')?.invalid && registerForm.get('email')?.touched">Correo inválido.</div>
            </div>
  
            <div class="input_box">
              <label class="text_form">Contraseña:</label>
              <div class="password_wrapper">
                <input type="password" id="password" formControlName="password" placeholder="Ingrese su contraseña">
                <img src="../../assets/img/pass_e_icon.svg" alt="Mostrar/Ocultar contraseña" class="show_password" id="togglePassword">
              </div>
              <div class="error-message" *ngIf="registerForm && registerForm.get('password')?.invalid && registerForm.get('password')?.touched">La contraseña debe tener al menos 6 caracteres.</div>
            </div>
  
            <div class="input_box">
              <label class="text_form">Repetir Contraseña:</label>
              <div class="password_wrapper">
                <input type="password" id="repeat_password" formControlName="repeat_password" placeholder="Repita su contraseña">
                <img src="../../assets/img/pass_e_icon.svg" alt="Mostrar/Ocultar contraseña" class="show_password" id="repeat_togglePassword">
              </div>
              <div class="error-message" *ngIf="registerForm && registerForm.hasError('mismatch') && registerForm.get('repeat_password')?.touched">Las contraseñas no coinciden.</div>
            </div>
  
            <div class="column_form">
              <div class="input_box">
                <label class="text_form">Teléfono:</label>
                <input type="number" id="cel" formControlName="phone" placeholder="Ingrese su teléfono">
                <div class="error-message" *ngIf="registerForm && registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched">El teléfono es requerido.</div>
              </div>
              <div class="input_box">
                <label class="text_form">Fecha de nacimiento:</label>
                <input type="date" id="date" formControlName="birthday" placeholder="dd/mm/yyyy">
                <div class="error-message" *ngIf="registerForm && registerForm.get('birthday')?.invalid && registerForm.get('birthday')?.touched">La fecha de nacimiento es requerida.</div>
              </div>
            </div>
            @if (Rol == 'ADMIN') {
              <div class="type_user_option">
                <div class="type_user">
                  <input type="radio" id="check_post" formControlName="type_user" value="POSTULANTE" (change)="setSelecteRol('POSTULANTE')">
                  <label for="check_post" class="text_form">Soy Postulante</label>
                </div>
                <div class="type_user">
                  <input type="radio" id="check_ofert" formControlName="type_user" value="OFERTANTE" (change)="setSelecteRol('OFERTANTE')">
                  <label for="check_ofert" class="text_form">Soy Ofertante</label>
                </div>
              </div>
              @if(selectedRol == 'OFERTANTE'){
              <div class="empresa_box">
                <label class="text_form">Empresa:</label>
                <select class="Empresa" formControlName="empresaDropBox" id="empresa">
                  <option *ngFor="let empresa of empresas; let i = index" [value]="empresa.id">{{empresa.name}}</option>
                </select>
                <div class="error-message" *ngIf="registerForm && registerForm.get('empresaDropBox')?.invalid && registerForm.get('empresaDropBox')?.touched">La empresa es obligatoria.</div>
                <br><br>
              </div>
              }
            }
  
            <div class="input_checkbox">
              <input type="checkbox" id="check_terms" formControlName="check_terms">
              <label for="check_terms" class="text_form">Acepto los términos y condiciones</label>
              <div class="error-message" *ngIf="registerForm && registerForm.get('check_terms')?.invalid && registerForm.get('check_terms')?.touched">Debe aceptar los términos y condiciones.</div>
            </div>
  
            <button type="submit" class="btn_register"> Registrarse</button>
          </form>
  
          <div class="line_o">
            <hr>
            <label class="text_form">O</label>
            <hr>
          </div>
  
          <div class="external_register">
            <a href="https://github.com"><img src="../../assets/img/gti_button.svg" alt="GitHub" class="img_form"></a>
            <a href="https://linkedin.com"><img src="../../assets/img/linkedin_button.svg" alt="LinkedIn" class="img_form"></a>
            <a href="https://google.com"><img src="../../assets/img/google_icon.svg" alt="Google" class="img_form btn_google"></a>
          </div>
  
          <div class="inicio_login">
            <label>¿Ya tienes cuenta?</label>
            <a [routerLink]="['/auth/login']">Iniciar Sesión</a>
          </div>
  
          <!--Registro exitoso mensaje-->
          <div class="modal-backdrop" *ngIf="showmodal">
            <div class="modal-content">
              <h1>¡Su cuenta se creo correctamente!</h1>
              <p>Se enviará a la pantalla de inicio después de presionar el botón</p>
              <button class="btn_login" [routerLink]="['/auth/login']">Ir a inicio de sesion</button>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
  </div>
  