<div class="derecha">
    <div class="derecha-superior">
        <h2>Alertas de Trabajo</h2>
    </div>
    <div class="derecha-inferior">

      <div class="tablaEmple">
        <div class="TablaEmpleos">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>

            <ng-container matColumnDef="puesto">
              <th mat-header-cell *matHeaderCellDef> Puestos </th>
              <td mat-cell *matCellDef="let element; let i = index">
                <div class="filatabla">
                  <div class="botonElim">
                    <button mat-icon-button (click)="removeData(i, $event)" color="warn">
                      <mat-icon aria-hidden="false">delete</mat-icon>
                    </button> 
                  </div>
                  <div class="taizquierda">
                    <img [src]="element.logo" alt="logo" style="width: 54px; height: 54px; margin-right: 8px; margin-top: 8px;">
                  </div>
                  <div class="taderecha">

                    <div class="puestotitulo">
                        {{element.puesto}}
                    </div>
                    <div class="puestolocation">
                        <img src="assets/imagenes/Tabla/UbiSimbolo.png" alt="logo" style="width: 19px; height: 19px;">
                        <p>{{element.location}}</p>
                    </div>
                    <div class="salario-tipo">
                        <img src="assets/imagenes/Tabla/SueldoSimbolo.png" alt="logo" style="width: 18px; height: 18px;">
                        <p>{{element.salary}}</p>
                    </div>

                  </div>
                  <div class="tipoE">
                    <div class="tipoTrabajo">{{element.type}}</div>
                  </div>
                </div>
              </td>
            </ng-container>   

            <ng-container matColumnDef="mensaje">
                <th mat-header-cell *matHeaderCellDef> Mensaje </th>
                <td mat-cell *matCellDef="let element; let i = index">
                  <div class="filatabla">
                    <p>{{element.mensaje}}</p>
                  </div>
                </td>
            </ng-container>  


        
            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="example-element-detail"
                     [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                  {{element.descripcion}}
                </div>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                class="element-row"
                [class.expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
          </table>
        </div>
        <div class="DeshacerCambio" *ngIf="showUndoButton">
          <button mat-raised-button (click)="undoDelete()" class="demo-button">
            Deshacer Cambios
          </button>
          <div class="progress-bar">
            <div class="progress-bar-fill" [style.width.%]="progress"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
