<div class="job-offers-container">
  
    <div class="header">
      <h2>MIS OFERTAS LABORALES</h2>
      <button mat-raised-button color="accent" class="popularity-chart-button" (click)="showPopularityChart()">
        Ver gráfica de popularidad
      </button>
      <button mat-raised-button color="primary" class="create-offer-button" (click)="createNewOffer()">
        <div class="button-text">
          <span>Crear nueva</span>
          <span>Oferta laboral</span>
        </div>
      </button>
    </div>
  
    <div class="filter-controls">
      <mat-form-field appearance="outline">
        <mat-label>Título</mat-label>
        <input matInput [(ngModel)]="filterTitle" (keyup.enter)="applyFilter()">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Modalidad</mat-label>
        <mat-select [(ngModel)]="filterModality" (selectionChange)="applyFilter()">
          <mat-option value="">Todas</mat-option>
          <mat-option value="1">Presencial</mat-option>
          <mat-option value="2">Hibrido</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <mat-select [(ngModel)]="filterStatus" (selectionChange)="applyFilter()">
          <mat-option value="">Todos</mat-option>
          <mat-option value="ACTIVE">Activo</mat-option>
          <mat-option value="INACTIVE">Inactivo</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="applyFilter()">Aplicar Filtros</button>
    </div>
  
    <div class="offers-list">
      <mat-card *ngFor="let offer of jobOffers; let i = index" class="offer-card" [style.background-color]="getBackgroundColor(i)">
        <mat-card-header>
          <img mat-card-avatar [src]="offer.logo" alt="Company Logo">
          <mat-card-title>{{ offer.title }}</mat-card-title>
          <mat-card-subtitle>{{ offer.ofertanteName }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="content-with-buttons">
            <div class="job-details">
              <p><mat-icon>location_on</mat-icon> {{ offer.location }}</p>
              <p><mat-icon>event</mat-icon> Publicado: {{ offer.createdAt | date }}</p>
              <p><mat-icon>info</mat-icon> Estado: {{ offer.status }}</p>
            </div>
            <div class="action-buttons">
              <button mat-button color="primary" class="outline-button" (click)="viewDetails(offer)">Más Detalles</button>
              <button mat-button color="accent" class="outline-button" (click)="verPostulantes(offer.id)">Ver Postulantes</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  
    <mat-paginator
    [length]="totalElements"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[3, 10, 20, 50]"
    (page)="onPageChange($event)"
    aria-label="Seleccionar página">
  </mat-paginator>

  <!-- Contenedor para la gráfica -->
<div *ngIf="popularityData && popularityData.length > 0" class="chart-container">
  <canvas id="popularityChart"></canvas>
  <p *ngIf="mostPopularJob">
    El job offer <strong>{{ mostPopularJob.name }}</strong> es el más popular entre todas las ofertas publicadas, 
    ya que tiene <strong>{{ mostPopularJob.applicants }}</strong> postulantes, siendo el más dominante.
  </p>
</div>
  </div>