
<div class="derecha">

    <div class="derecha-superior">
        <h1>MIS OFERTAS LABORALES</h1>
        <button class="btn-crear-oferta"> <p>CREAR NUEVA OFERTA LABORAL</p> </button>

    </div>

    <hr class="line">

    <div class="derecha-inferior">

        <div class="search-container">
            <div class="country">
                <img src="../../../assets/imagenes/Header/peruflag.png" alt="Peru Flag">
            </div>
            
            <div class="search-input">
                <mat-form-field>
                    <input matInput placeholder="Título, palabra clave" (keyup)="applyFilter($event)" #input>
                    <button mat-icon-button matSuffix>
                        <mat-icon aria-hidden="false">search</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
 
        <div class="tablaEmple-ofer">
       
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="offer">
                    <td mat-cell *matCellDef="let element"> 
                        <div class="tb-offer" [ngClass]="{'card-1': element.position === 1, 'card-2': element.position === 2, 'card-3': element.position === 3}">
                            <div class="offer-header">
                                <h2>{{ element.name }}</h2>
                            </div>
                            

                            <div class="offer-body">
                                <div class ="Info">
                                    <p><strong>INFORMACIÓN DE LA OFERTA</strong></p>
                                    <ul>
                                        <li>SE NECESITA UN COMPUTER SCIENCE</li>
                                    </ul>
                                    <p><strong>REQUISITOS:</strong></p>
                                    <ul>
                                        <li>Tener conocimiento en...</li>
                                    </ul>
                                </div>

                                <div class = "ubicacion">
                                    <img src="../../../assets/imagenes/Tabla/ubicacion.png" alt="Ubicacion">
                                    <p>UBICACIÓN PARA EL PUESTO: _____</p>
                                </div>

                                <div class="offer-footer">
                                    <button class="offer-btn-1" mat-button>Más Detalles</button>
                                    <button class="offer-btn" mat-raised-button color="primary" (click)="goToCandidatos(element.position)">Ver Postulantes</button>
                                </div>  

                            </div>
                            
                
                        </div>
                    </td>
                </ng-container>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter</td>
                </tr>
                
            </table>
        </div>
    </div>

</div>
