<div class="izquierda">
    <div class="izquierda-superior">
        <h2>Configuración de Curriculum</h2>
        <mat-tab-group>
            <mat-tab label="Primero"> Crea tu CV </mat-tab>
            <mat-tab label="Segundo"> Editalo </mat-tab>
            <mat-tab label="Tercero"> Visualizalo </mat-tab>
        </mat-tab-group>
    </div>
    <div class="izquierda-inferior">
        <h3>izquierda-inferior</h3>
    </div>
</div>

<div class="derecha">
    <router-outlet></router-outlet> 
</div>