<body>
    <main>
        <div class="derecha">
          <div class="container">
            <div class="profiles">
                <div class="profile">
                    <img class="profile-image" src="assets/imagenes/Entrevistas/FotoPerfil.png" alt="Postulante" crossorigin="anonymous">
                    <div class="profile-label">
                        POSTULANTE
                    </div>
                </div>
                <div class="profile">
                    <img class="profile-image" src="assets/imagenes/Entrevistas/perfil.png" alt="Entrevistador" crossorigin="anonymous">
                    <div class="profile-label">
                        ENTREVISTADOR
                    </div>
                </div>
            </div>
            <div class="controls">
                <button class="exit-button">SALIR </button>
                <button class="icon-button">
                    <img aria-hidden="true" alt="video" src="assets/imagenes/Entrevistas/camera.png" crossorigin="anonymous">
                </button>
                <button class="icon-button">
                    <img aria-hidden="true" alt="microphone" src="assets/imagenes/Entrevistas/micro.png" crossorigin="anonymous">
                </button>
                <button class="icon-button">
                    <img aria-hidden="true" alt="upload" src="assets/imagenes/Entrevistas/share.png" crossorigin="anonymous">
                </button>
            </div>
        </div>          
      </div>
      </main>
  </body>