<div class="opciones">
    <div class="reputacion">
      <p><strong>{{data.reputation}}:</strong></p>
      <img (click)="setRepu(data,$event)" *ngIf="data.reputation === 'MUY_ALTA'" src="assets/imagenes/Tabla/medidorMuyAlto.png" alt="repMuyAlta" style="width: 50px; height: 30px;">
      <img (click)="setRepu(data,$event)" *ngIf="data.reputation === 'ALTA'" src="ssets/imagenes/Tabla/medidorAlto.png" alt="repAlta" style="width: 50px; height: 30px;">
      <img (click)="setRepu(data,$event)" *ngIf="data.reputation === 'MEDIA'" src="assets/imagenes/Tabla/medidorMedio.png" alt="repMedia" style="width: 50px; height: 30px;">
      <img (click)="setRepu(data,$event)" *ngIf="data.reputation === 'BAJA'" src="assets/imagenes/Tabla/medidorBajo.png" alt="repBaja" style="width: 50px; height: 30px;">
    </div>

    <mat-dialog-actions>
      <div class="botones" >
        <button id="perfilEButton"(click)="editOffer(data.id)">Editar Oferta Laboral</button>
      </div>
      <button mat-button mat-dialog-close>X</button>
    </mat-dialog-actions>

  </div>

  <div class="info">
    <mat-dialog-content>
      <div class="contenido">
        <div class="modal-backdrop" *ngIf="showmodal">
          <div class="modal-content">
            <button class="btn_login" (click)="returnMainPage()">Cerrar</button>
          </div>
        </div>
        
        <div class="izquierda">
          <div class="contenidoBox">
            <div class="titulo">
              <h2><strong>Presentación:</strong></h2>
            </div>
            <div class="texto">
              <p>{{ data.description }}</p>
            </div>
          </div>

          <div class="contenidoBox">
            <div class="titulo">
              <h2><strong>Requisitos:</strong></h2>
            </div>
            <div class="texto">
              <ul>
                <li>
                  {{ data.requirements }}
                </li>
              </ul>
            </div>
          </div>

          <div class="contenidoBox">
            <div class="titulo">
              <h2><strong>Beneficios:</strong></h2>
            </div>
            <div class="texto">
              <ul>
                <li>
                  {{ data.benefits }}
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="derecha">
          <div class="logoEmpresa">
            <img [src]="data.logo" alt="logo" style="width: 84px; height: 84px; margin-right: 8px; margin-top: 8px;">
            <p><strong>{{ data.title }}</strong> </p>
          </div>
          <div class="infoImportante">
            <div class="features">

              <div class="EmpleoFeature" id="EmpleoFeature1">
                <div><p>{{ data.jobModalityName }}</p></div>
                <div><p>{{ data.salary }}</p></div>
              </div>
              <div class="EmpleoFeature" id="EmpleoFeature2">
                <img src="assets/imagenes/Tabla/Detalles/Reloj.png" alt="tipojornadaIMG" style="width: 26px; height: 26px;">
                <img src="assets/imagenes/Tabla/Detalles/sueldo.png" alt="sueldoIMG" style="width: 26px; height: 26px;">
              </div>
            </div>
           

            <div class="ubi">
              <div class="izquierdaUbi">
                <p>{{ data.location }}</p>
              </div>
              <div class="derechUbi">
                <div class="derechUbiimg">
                  <img src="assets/imagenes/Tabla/Detalles/Ubicacion.png" alt="ubicacionIMG" style="width: 58px; height: 55px;  margin-top: 8px;">
                </div>
                <div class="textoUbi">
                  <h6><strong>Ubicación</strong></h6>
                </div>
                
              </div>
              
            </div>
          </div>
          <div class="estado">
            <div class="contenido">
              <img *ngIf="data.status === 'ACTIVE'" src="assets/imagenes/Tabla/active.png" alt="Activo" style="width: 20px; height: 20px; margin-right: 5px;">
              <img *ngIf="data.status === 'CANCELLED'" src="assets/imagenes/Tabla/cancelado.png" alt="Cancelado" style="width: 20px; height: 20px; margin-right: 5px;">
              <img *ngIf="data.status === 'INACTIVE'" src="assets/imagenes/Tabla/finalizado.png" alt="Finalizado" style="width: 20px; height: 20px; margin-right: 5px;">
              <p><strong>Estado:</strong> {{ data.status }}</p>
            </div>
          </div>
        </div>
        
       
      </div>
      
    </mat-dialog-content>
  </div>



