<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="register.component.css">
  <link href='https://fonts.googleapis.com/css?family=Lalezar' rel='stylesheet'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
<div class="logo">
    <p class="text_logo">JobHub</p>
  </div>
  
  <section class="register_box">
    <div class="box_left">
      <label class="title_box_left">CREAR NUEVA CUENTA</label>
      <img src="../../assets/img/img_right.svg" alt="profile" class="img_left">
    </div>
  
    <div class="box_right">
      <div class="circle_img">
        <img src="../../assets/img/img_left.jpg" alt="profile" class="img_right">
      </div>
  
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form_user">
        <div class="column_form">
          <div class="input_box">
            <label class="text_form">Nombres:</label>
            <input type="text" id="name" formControlName="name" placeholder="Ingrese su nombre">
            <div class="error-message" *ngIf="registerForm && registerForm.get('name')?.invalid && registerForm.get('name')?.touched">El nombre es requerido.</div>
          </div>
          <div class="input_box">
            <label class="text_form">Apellidos:</label>
            <input type="text" id="lastname" formControlName="lastname" placeholder="Ingrese su apellido">
            <div class="error-message" *ngIf="registerForm && registerForm.get('lastname')?.invalid && registerForm.get('lastname')?.touched">El apellido es requerido.</div>
          </div>
        </div>
  
        <div class="input_box">
          <label class="text_form">Correo electrónico:</label>
          <input type="email" id="email" formControlName="email" placeholder="Ingrese su correo electrónico">
          <div class="error-message" *ngIf="registerForm && registerForm.get('email')?.invalid && registerForm.get('email')?.touched">Correo inválido.</div>
        </div>
  
        <div class="input_box">
          <label class="text_form">Contraseña:</label>
          <div class="password_wrapper">
            <input type="password" id="password" formControlName="password" placeholder="Ingrese su contraseña">
            <img src="../../assets/img/pass_e_icon.svg" alt="Mostrar/Ocultar contraseña" class="show_password" id="togglePassword">
          </div>
          <div class="error-message" *ngIf="registerForm && registerForm.get('password')?.invalid && registerForm.get('password')?.touched">La contraseña debe tener al menos 6 caracteres.</div>
        </div>
  
        <div class="input_box">
          <label class="text_form">Repetir Contraseña:</label>
          <div class="password_wrapper">
            <input type="password" id="repeat_password" formControlName="repeat_password" placeholder="Repita su contraseña">
            <img src="../../assets/img/pass_e_icon.svg" alt="Mostrar/Ocultar contraseña" class="show_password" id="repeat_togglePassword">
          </div>
          <div class="error-message" *ngIf="registerForm && registerForm.hasError('mismatch') && registerForm.get('repeat_password')?.touched">Las contraseñas no coinciden.</div>
        </div>
  
        <div class="column_form">
          <div class="input_box">
            <label class="text_form">Teléfono:</label>
            <input type="number" id="cel" formControlName="cel" placeholder="Ingrese su teléfono">
            <div class="error-message" *ngIf="registerForm && registerForm.get('cel')?.invalid && registerForm.get('cel')?.touched">El teléfono es requerido.</div>
          </div>
          <div class="input_box">
            <label class="text_form">Fecha de nacimiento:</label>
            <input type="date" id="date" formControlName="date" placeholder="dd/mm/yyyy">
            <div class="error-message" *ngIf="registerForm && registerForm.get('date')?.invalid && registerForm.get('date')?.touched">La fecha de nacimiento es requerida.</div>
          </div>
        </div>
  
        <div class="type_user_option">
          <div class="type_user">
            <input type="radio" id="check_post" formControlName="type_user" value="postulant">
            <label for="check_post" class="text_form">Soy Postulante</label>
          </div>
          <div class="type_user">
            <input type="radio" id="check_ofert" formControlName="type_user" value="ofertant">
            <label for="check_ofert" class="text_form">Soy Ofertante</label>
          </div>
        </div>
  
        <div class="input_checkbox">
          <input type="checkbox" id="check_terms" formControlName="check_terms">
          <label for="check_terms" class="text_form">Acepto los términos y condiciones</label>
          <div class="error-message" *ngIf="registerForm && registerForm.get('check_terms')?.invalid && registerForm.get('check_terms')?.touched">Debe aceptar los términos y condiciones.</div>
        </div>
  
        <button type="submit" class="btn_register"> Registrarse</button>
      </form>



     




      <div class="line_o">
        <hr>
        <label class="text_form">O</label>
        <hr>
      </div>
  
      <div class="external_register">
        <label class="text_form">Continua con:</label>
        <a href="https://github.com"><img src="../../assets/img/gti_button.svg" alt="GitHub" class="img_form"></a>
        <a href="https://linkedin.com"><img src="../../assets/img/linkedin_button.svg" alt="LinkedIn" class="img_form"></a>
        <a href="https://google.com"><img src="../../assets/img/google_icon.svg" alt="Google" class="img_form btn_google"></a>
      </div>
  
      <div class="inicio_login">
        <label>¿Ya tienes cuenta?</label>
        <a routerLink="/login">Iniciar Sesión</a>
      </div>

          <!--Registro exitoso mensaje-->
        <div class="modal-backdrop" *ngIf="showmodal">
            <div class = "modal-content">
                <h1> ¡Su cuenta se creo correctamente! </h1>
                <p> Se enviará a la pantalla de inicio después de presionar el botón</p>
                <button class = "btn_login" (click)="navigateToLogin()" >Ir a inicio de sesion</button>
            </div>
        </div>



    </div>
    

    

  </section>


</body>

</html>


